body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed',
    sans-serif;
  overflow-x: hidden;
}

#header {
  min-height: 94px;
  background-color: #f72210;
}

#navbar-2 {
  position: sticky;
  top: 0;
  min-height: 56px;
  max-width: 1349px;
}

.weather {
  height: 24px;
  width: 24px;
  margin: 0;
}

.brand-logo {
  height: 60px;
  width: 396px;
  margin: 10px auto 0;
  fill: #fff;
}

nav {
  background-color: #f72210;
  top: 0;
}

main,
nav,
header {
  max-width: 1310px;
}

.brand-logo-2 {
  height: 20px;
  width: 132px;
  fill: #fff;
}

main h6 {
  color: rgba(154, 154, 154);
}

.genre {
  position: relative;
  width: 80px;
  background-color: #f1f2f5;
  z-index: 1;
  font-size: 17px;
}

.debate-border {
  border-top: 4px solid #f92859;
  border-bottom: 4px double lightgrey;
}

.debate-text {
  font-size: 17px;
  line-height: 21px;
}

.debate-image {
  height: 63px;
  width: 63px;
  position: relative;
  margin-top: -70px;
}

.bd-2 {
  border-top: 4px solid #1c87fb;
}

.vs-circle {
  height: 40px;
  width: 40px;
}