body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed',
    sans-serif;
}

#header {
  min-height: 94px;
  background-color: #f72210;
}

.weather {
  height: 24px;
  width: 24px;
  margin: 0;
}

.brand-logo {
  height: 60px;
  width: 396px;
  margin: 10px auto 0;
  fill: #fff;
}

nav {
  min-height: 56px;
  width: 1349px;
  background-color: #f72210;
  top: 0;
}

main,
nav,
header {
  max-width: 1310px;
}

.brand-logo-2 {
  height: 20px;
  width: 132px;
  fill: #fff;
}